extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl,
            title:video.title
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button 비디오 수정
            h5.video__title=video.title
            .video__info-sections
                if video.views === 1
                    span.video__views 조회수 1
                    span.video__date#jsvideoDate= `• 업로드: ${date.getFullYear()}. ${date.getMonth()}. ${date.getDate()}` 

                else 
                    span.video__views 조회수 #{video.views}회
                    span.video__date#jsvideoDate= `• 업로드: ${date.getFullYear()}. ${date.getMonth()}. ${date.getDate()}` 
            .video__author
                a.u-profile-img(href=routes.userDetail(video.creator.id))                
                    img.u-avatar(src=video.creator.avatarUrl)
                a.u-profile(href=routes.userDetail(video.creator.id))=video.creator.name
                p.video__description=video.description
        .video__comments
            .video__view
                if video.comments.length === 1
                    span.video__comment-number
                        |  댓글 
                        span#jsCommentNumber 1개 
                else
                    span.video__comment-number
                        |  댓글  
                        span#jsCommentNumber=`${video.comments.length}개`
            form.add__comment#jsAddComment
                if loggedUser
                    .video__addComment-list
                        img.u-avatar(src=loggedUser.avatarUrl)
                        .video__commentInput
                            input(type="text", placeholder="댓글 추가...")
                            .inputLink
                    .video__commentBtn#jsCommentBtn
                    //-     button.confirmBtn#jsConfirmBtn 확인
                    //-     button.cancelBtn#jsCancel 취소
                else 
                    .video__addComment-list
                        img.u-avatar(src="https://wetube19.s3.ap-northeast-2.amazonaws.com/avatar/default-profile-img.png")
                        .video__commentInput
                            input(type="text", placeholder="댓글 추가...")
                            .inputLink
                    .video__commentBtn#jsCommentBtn
                    //-     button.confirmBtn#jsConfirmBtn 확인
                    //-     button.cancelBtn#jsCancel 취소
                ul.video__comments-list#jsCommentList
                    each comment in video.comments.reverse()
                        li
                            .video__comments-info
                                .creator-avatar
                                    img.u-avatar(src="https://wetube19.s3.ap-northeast-2.amazonaws.com/avatar/default-profile-img.png")
                                .creator-sections
                                    .creator
                                        span.name kiseop Lee 
                                        span.date 2019.10.13
                                    .comments-content
                                        span=comment.text
                                .settings-icon.dropdown
                                    i.fas.fa-ellipsis-v.dropdown-icon
                                    .dropdown-content
                                        a(href="#", id="editComment") 수정
                                        a(href="#", id="deleteComment") 삭제    

                                    