mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls=false)
            .videoBlock__info
                h5.videoBlock__title=video.title
                .videoBlockInfo__sections
                    .videoBlock__creatorName
                        span kiseop
                    if video.views === 1
                        span.videoBlock__views 조회수 1회 
                        span.vidoeBLock__date 2019.10.13 
                    else
                        span.videoBlock__views 조회수 #{video.views}회 
                        span.vidoeBLock__date 2019.10.13 
